<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>

    <link rel="shortcut icon" href="/images/my_logo.png" type="image/x-icon">
    <link rel="icon" href="/images/my_logo.png" type="image/x-icon">
    <style>
      body{
            background-image: url("/images/grow-green.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
  </head>
  <body>
    <center><canvas id="myCanvas" style="margin-top:200px;"></canvas></center>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    <script type="text/javascript" src="/javascripts/arcs.js"></script>
  </body>
</html>